-if current_user.id == @user.id || current_user.role == 'admin'
  %h1 Editing user

  = render 'form'

  = link_to 'Show', @user, :class => 'btn btn-default btn-sm'
  \|
  = link_to 'Back', users_path, :class => 'btn btn-default btn-sm'