-if current_user.id == @album.user_id || current_user.role == 'admin'
  %h1 Editing album

  = render 'form'

  = link_to 'Show', @album,  :class => 'btn btn-default btn-sm'
  \|
  = link_to 'Back', albums_path,  :class => 'btn btn-default btn-sm'
