%p#notice= notice
%p
  %label Album
  %p
    %b Title
  %p
    =@album.title
  %p
    %b Description
  %p
    =@album.description
  %p
    %b Created At
  %p
    =@album.created_at
  %p
    %b Update At
  %p
    =@album.updated_at
  %p
    %b Photos
  %p
    =@album.photos

= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
